*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    width: 100%;
    height: 100%;
}

.nav-slider{
    width: 100%;
    background-color:#375d77;
    overflow-x: hidden;
    white-space: nowrap;
}

.slider{
    display: inline-block;
    animation: slider 10s infinite linear;
}

.slider h4{
    font-size: 15px;
    font-weight: 200px;
    padding: 10px 150px;
    color: white;
}

@keyframes slider {
    from{
        transform:translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}

.page1{
    width: 100%;
}

nav{
    width: 100%;
    position: fixed; 
    background-color: white; 

}

.page1 nav > h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
   padding-top: 35px;
   color:#b97d22;
}

.page1 nav > h1:hover{
    cursor: pointer;
}
.page1  nav > p{
    text-align: center;
    font-size: 25px;
    color: #b97d22;
    font-weight: 200;
    padding-top: 5px;
}

.page1  nav > p:hover{
    cursor: pointer;
}

nav >  .navbar{
    width: 100%;
    /* background-color: blue; */
}

 nav > .navbar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 200;
    padding-top: 10px;
}

 nav > .navbar > ul li{
    border-bottom: 1px solid transparent;
    transition: 1s all ease-in-out;
}

 nav > .navbar > ul li:hover{
    border-bottom: 3px solid black;
    cursor: pointer;
}

.page1 > img{
    width: 100%;
    margin-top: 200px;
    padding: 20p 10px;
}

.page1 img:hover{
    cursor: pointer;
}

.page2{
    width: 100%;
}

.page2 > h3{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 30px; 
    margin-top: 50px;
}

.page2  .box , .boxbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.box > .box1{
    width: 20vw;
    /* background-color: blue; */
}

.box img , .boxbox img{
    width: 20vw;
    margin-top: 30px;
}

.box  h1 , .boxbox h1{
    font-size: 18px;
    font-weight: 200;
    padding: 5px 20px;
    margin-left: 10px;
    text-align: center;
}

.box p, .boxbox p{
    text-align: center;
    font-weight: 200;
    font-size: 20px;
}

.box button, .boxbox button{
    padding: 8px 20px;
    margin: 10px 20px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: royalblue;
    border: none;
}

.box button a , .boxbox button a{
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;

}

.page3{
    width: 100%;
}

.page3 h3{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    padding: 40px 20px;
    margin-top: 40px;
}

.page3 > .div1{
    /* background-color: blue; */
    width: 100%; 
}

.div1 > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;

}

.div1 > ul li{
    font-size: 30px;
    font-weight: 300;
    padding-right: 20px;
    margin: 90px 10px;
}

.div1 > ul li a {
    text-decoration: none;
    color: black;
}

.div1 > ul li a:hover{
    cursor: pointer;
}

.page3 .div2{
    width: 100%;
    height: 100%;
}

.div2 > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div2 ul li{
    list-style: none;
}

.div2 ul li{
    font-size: 30px;
    font-weight: 300;
    margin-left: 30px;
}

.div2 ul li a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.div2 ul li a:hover{
    cursor: pointer;
}

.page4{
    width: 100%;
    display: flex;
    margin-top: 90px;
}

.page4 > .leftpage{
    width: 50%;
    margin-left: 15px;

}

.leftpage > h1{
    text-align: center;
    margin: 20px;
    padding-top: 70px;
    font-size: 30px;
    font-weight: 300;
}

.leftpage > p{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
}

.leftpage > button{
    display: block;
    width: 30%;
    padding: 10px;
    margin: 20px 200px;
    text-transform: uppercase;
    background-color: transparent;
    border:1px solid black;
}

.leftpage > button:hover{
    cursor: pointer;
    background-color: blue;
    border: none;
}


.page4 > .rightpage{
    width: 50%;
    background-color:#ffffff;
}

.rightpage > img{
       width: 90%;
       padding-bottom: 20px;
}

.page5{
    background-color: #f5f0e7;
    width: 100%;
    height: 100%;
}

.page5 > h2{
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-weight: 100;
}